:root{
    --dark-orange:#b36240;
    --orange: #ff844f;
    --blue-light: #42b4ff;
    --dark-yellow: #b3931d;
    --yellow: #ffd536;
    --black: rgb(27, 27, 27);
    --blue-light2:rgb(1, 88, 146);
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body,
.container{
    width:100%;
    height:100vh;
    display:flex;
    flex-direction:column;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

nav{
    position:fixed;
    z-index:99;
    display:flex;
    width:100%;
    height: 4rem;
    align-items: center;
    background: var(--black);
}

nav a{
    width:2.5rem;
    min-height:2.5rem;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center; 
    margin-left: 1rem; 
}

nav a span{
    display: flex;
    height: .35rem;
    width: 95%;
    background:#fff;
}

.business{
    width: 30%;
    color:#fff;
    margin-left: 1rem;
    font-size: 1rem;
}

.container{ 
    margin-top:4rem;
    max-width:800px;
    margin-bottom: 4rem;
    height:fit-content;
}

.section{
    width:90%;
    height: fit-content;
    display:flex;
    justify-content: center;
    flex-direction: column;
    scroll-margin-top: 4rem;
}

.section-title{
    display: flex;
    width:100%;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    font-size:1.5rem;
    align-items: center;
    height:2rem;
    background:transparent;
    font-weight: bold;
    color:var(--black);
    padding:.5rem ;
    border-bottom: 1px solid var(--black);
}


/* Card */

.cards{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:1rem;
    max-width:1000px;
}

.card{
    min-width:100%;
    height: fit-content;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    display:flex;
    flex-direction:column;
    align-items: center;
    background:#fff;
}

.card-header{
    width:100%;
    height: fit-content;
    position:relative;
}

.card-img{
    width:100%;
    border-bottom: .5px solid rgba(0,0,0,0.1);
}

.card-stock{
    position:absolute;
    z-index:10;
    border-radius:50%;
    background:var(--orange);
    height:50px;
    width:50px;
    display:flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    font-size: 1rem;
    font-weight: bold;
    top:5px;
    right:5px;
    flex-direction:column;
    font-size:.8rem;
}

.card-body{
    width:90%;
}

.card-title{
    font-size: 1.2rem;
    font-weight:bold;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-info{
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.card-colors,
.card-sizes{
    margin-top:1rem;
    display:flex;
    flex-direction:column;
    width:100%;
}

.card-colors-block,
.card-size-block{
    display:flex;
}

.card-colors-block{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:.1rem;
    width:60%;
}

.card-colors-title,
.card-size-title{
    font-size: .8rem;
    font-weight:bold;
}

.card-color,
.card-size{
    width: 1.5rem;
    height:1.5rem;
}

.card-color{
    border-radius: 50%;
    margin-right:3px;
}

.card-size{
    background:transparent;
    color:var(--black);
    display: flex;
    justify-content:center;
    align-items:center;
    margin-right: 3px;
    font-size: .8rem;
    border:.5px solid rgba(0,0,0,0.3);
}

.card-block{
    display:grid;;
    grid-template-columns: 1fr 1fr;
    margin-top:1rem;
    margin-bottom: 1rem;
    width:100%;
}

.card-price{
    display:flex;
    align-items:center;
    font-size: 1rem;
}

.card-btn{
    width:100%;
    background: var(--blue-light);
    color:#fff;
    height:2rem;
    display: flex;
    justify-content: center;
    align-items:center;
    cursor:pointer;
    font-size:1rem
}

footer{
    width:100%;
    min-height:4rem;
    display:flex;
    background: var(--black);
    color:#fff;
    justify-content: center;
    align-items: center;
}

.modal-category{
    position:fixed;
    width:100%;
    height: 100%;
    background:rgb(27, 27, 27);
    color:#fff;
    z-index:100;
    overflow: auto;
    display:flex;
    justify-content: center;
    align-items: center;
}

.modal-close{
    position:absolute;
    top:10px;
    right:10px;
    width:2rem;
    height:2rem;
    border:none;
    background:transparent;
    color:#fff;
    cursor:pointer;
    font-size: 1.5rem;
}

.modal-list{
    width:100%;
    height:fit-content;
    display:flex;
    align-items: center;
    flex-direction:column;
    list-style: none;
}

.modal-list li{
    width:100%;
    height:2.5rem;
    display:flex;
    justify-content: center;
    font-size:1.5rem;
}

.modal-hidden{
    display:none;
}


@media screen and (max-width: 650px) {
    .cards{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        gap:1rem;
        max-width:1000px;
    }
}

@media screen and (max-width: 450px) {
    .cards{
        display:grid;
        grid-template-columns: repeat(1, 1fr);
        gap:1rem;
        max-width:1000px;
    }
}